body {
    background-color: #FFFFCC;
    text-align: center;
    
}

.yang{
    font-size: 13px;
    font-family: '標楷體';
    font-weight: bold;
    font-style: italic;
    color: #0000FF;
    text-align: left;
}

.she{
    text-align: left;
}